src/.pytest_cache
src/Live/cache
src/Live/filebeat
src/Live/day_trader_logging.json
src/reddit_scraper/sentiment
src/reddit_scraper/a.csv
src/reddit_scraper/hour_to_sentiment.pkl
src/reddit/sentiment.csv
src/Training/Blue-Snake/cache
src/Training/Blue-Snake/models
src/Training/crypto_1/forecast_models
*.pkl
src/Training/crypto_1/forecast_models/chunks_0.pkl
*.pb
*.data-00000-of-00001
src/Training/crypto_1/models/.DS_Store
*.pkl
src/Training/Blue-Snake/models/.DS_Store
src/Training/crypto_1/.DS_Store
*.pyc
*.index
*.csv
src/Training/crypto_1/data/.DS_Store
src/Training/Blue-Snake/cache/.DS_Store
*.csv
